<!DOCTYPE html>
<html>
  <head>
    <title>Christian's Django Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Christian's Django Blog</a></h1>
    </div>
    <div>
      <p>published 14.06.2014, 12:14</p>
      <h2><a href="">My first post.</a></h2>
        <p>I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. But I bought a yearbook ad from you, doesn't that mean anything anymore? Guy's a pro. Army had half a day.<p>
        <p>It's called 'taking advantage.' It's what gets you ahead in life. It's called 'taking advantage.' It's what gets you ahead in life. Well, what do you expect, mother? Really? Did nothing cancel? But I bought a yearbook ad from you, doesn't that mean anything anymore?</p>
    </div>
    <div>
      <p>published 15.06.2014, 11:23</p>
      <h2><a href="">My first post.</a></h2>
      <p>Now, when you do this without getting punched in the chest, you'll have more fun. Michael! I don't understand the question, and I won't respond to it. It's called 'taking advantage.' It's what gets you ahead in life.</p>
      <p>Did you enjoy your meal, Mom? You drank it fast enough. Marry me. We just call it a sausage. He'll want to use your yacht, and I don't want this thing smelling like fish. Well, what do you expect, mother?</p>
      <p>Bad news. Andy Griffith turned us down. He didn't like his trailer. Oh, you're gonna be in a coma, all right. He'll want to use your yacht, and I don't want this thing smelling like fish. Oh, you're gonna be in a coma, all right.</p>

    </div>

  </body>
</html>
